body {
    background-color: #640D6B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.calculadora {
    border-radius: 20px;
    background-color: #B51B75;
    padding: 5%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    height: 30vh;
    width: 25vh;
}

.calculadora div button {
    background-color: #FFFAE6;
}

#display {
    background-color: #FFFAE6;
    margin: 4% auto;
    margin-top: 0;
    width: calc(100% - 7px);
    display: block;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    font-size: 18px;
    outline: none;
    border: none;
    height: 30px;
    font-weight:500;
    transition: all 0.3s ease 0s;
}

#display.calculate-effect {
    background-color: #E65C19;
    color: #fff;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
}

.teclado button {
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.teclado button:hover {
    background-color: #E65C19;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.teclado button:active {
    transform: translateY(-1px);
  }